/pom.xml
*.jar
*.class
/lib
/bin
/classes
/native
/target
/.lein-failures
/checkouts
/.lein-deps-sum
/api-doc
/README.md.html
/ReleaseNotes.md.html
/doc.sh
.classpath
.project
.settings
README.html
api-doc.zip
pom.xml.asc

